* {
    box-sizing: border-box;
}

#display-section {
    height: 114px;
    width: calc(750*0.95);
    padding: 10px;
    border-radius: 30px 30px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
#screen {
    height: 100%;
    width: 100%;
    border-radius: 30px 30px 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px;
    color: white;
    
}
#output {
    overflow-x: scroll;
    font-size: 3em;
}
#input-left {
    width: calc(0.75*712px);
    height: calc(0.8*630px);
    border-bottom-left-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}
#input-right {
    width: calc(0.25*712px);
    height: calc(0.8*630px);
    border-bottom-right-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}
#input-right>.btn {
    background: linear-gradient(145deg, #e9771a, #e27f0e); /* light-to-medium gray */

}
.input-row {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: center;

}
#functions {
    display: flex;
    
}
.btn {
    height: 64px;
    width: 115px;
    border-radius: 30px;
    font-size: 1.9em;
    color: white;
    background: radial-gradient(circle, #2e2e2e 55%, #4a4a4a);    
    border: 1px solid rgb(212, 192, 175);
    box-shadow: 0 7px 0 black;
    transition: 0.3 all ease-in;

}

.btn:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: 0.3 all ease-in;
}
.btn:active {
    transform: translateY(2px);
    box-shadow: 0 3px 0 black;
    transition: 0.3 all ease-in;

}