* {
    box-sizing: border-box;
      font-family: 'DS-Digital', monospace;
}
body {
background: linear-gradient(135deg, #a1c4fd, #c2e9fb);
background-repeat: no-repeat;
background-attachment: fixed; /*Always at center of screen*/
background-position: center;
background-size: cover;
}
@font-face {
  font-family: 'DS-Digital';
  src: url('DS-DIGI.TTF') format('truetype');
}
#title-section {
    width: 500px;
    margin: 10vh auto;
    text-align: center;
}
#calculator-body {
    height: 600px;
    width: 750px;
    margin: auto;
    border-radius: 30px;
    /*background-color: #2e2e2e;*/
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(145deg, #e0e0e0, #c2c2c2); /* light-to-medium gray */
box-shadow: 4px 4px 12px rgba(0, 50, 100, 0.35),   /* darker blue shadow, stronger */
    -4px -4px 12px rgba(255, 255, 255, 0.35); /* light highlight */
            }
#main-section {
    /*background-color: #3a3a3a;*/
    height: 95%;
    width: 95%;
    border-radius: 30px;
      background: linear-gradient(145deg, #848484, #8c8c8c); /* light gray gradient */
}
